/* html {
    background-color: var(--bg-color);
} */

fieldset {
    /* background-color: var(--bg-color-brighter); */
    /* border: 1px solid var(--bg-color-accent); */

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 1rem auto;
    width: 90%;
}

h1 {
    margin: 0.5rem;

    /* color: var(--text-color); */

    font-family: Georgia;
    font-size: 3rem;
    letter-spacing: rem;

    text-align: center;
    text-transform: uppercase;
}

body {
    min-height: 0.5dvh;
}

h2 {
    margin: 0.5rem;

    /* color: var(--text-color); */

    font-weight: 600;
    letter-spacing: 0.2rem;

    text-align: center;
    text-transform: uppercase;
}

h3 {
    margin: 0.2rem;

    /* background-color: var(--bg-color-brighter); */
    /* color: var(--text-color); */

    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1rem;

    text-align: center;
    text-transform: uppercase;
}