@import url("reset.css");

@import url("elements.css");

@import url("button.css");

/* :root,
:root.light {
    --bg-color: #fff;
    --bg-color-contrast: #000000;
    --text-color: #123;
    --text-color-contrast: #fed;
}

:root.dark {
    --bg-color: #121212;
    --bg-color-contrast: #efefef;
    --text-color: #45ADFE;
    --text-color-contrast: #212729;
} */

:root {
    --bg-color: #121212;
    --bg-color-brighter: #1f1f1f;
    --bg-color-accent: #ac5730;
    --bg-color-contrast: #efefef;
    --text-color: #f8e6e1;
    --text-color-contrast: #212729;
}

/* @media (prefers-reduced-motion) {
    iframe {
        transition: none;
    }
} */

.input-text {
    border: solid 1px #ccc;

    padding: 0 0.75rem;
    position: relative;
}

.input-text input {
    border: none;
    outline: none;

    padding: 0.75rem 0 0.75rem;

    font-size: 1.25rem;
}

.input-text label {
    font-size: 1.25rem;
    position: absolute;

    transform-origin: top left;
    transform: translate(0, .75rem) scale(1);
    transition: all .1s ease-in-out;

    /* transform: translate(0, 16px) scale(1); */
}

.input-text.input-active label {
    transform: translate(0, 0rem) scale(0.565);
}

iframe {
    width: 1px;
    min-width: 100%;
    /* transition: all 1s ease-in-out; */


    --slide-time: 0.5s;
    --transform-bounds-left: -100%;
    --transform-bounds-right: 100%;
}

.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.slide-in-left {
    animation: slide-in-left var(--slide-time) ease-in-out forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(var(--transform-bounds-left));
        position: inherit;
    }

    to {
        transform: translateX(0);
    }
}

.slide-out-left {
    animation: slide-out-left var(--slide-time) ease-in-out forwards;
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
        position: inherit;
    }

    to {
        transform: translateX(var(--transform-bounds-left));
    }
}

.slide-in-right {
    animation: slide-in-right var(--slide-time) ease-in-out forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(var(--transform-bounds-right));
        position: inherit;
    }

    to {
        transform: translateX(0);
    }
}

.slide-out-right {
    animation: slide-out-right var(--slide-time) ease-in-out forwards;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        position: inherit;
    }

    to {
        transform: translateX(var(--transform-bounds-right));
    }
}

/* Mark input boxes that gets an error on validation: */
input .invalid {
    background-color: #fd2020;
}

.go-left {
    transform: translate(var(--transform-bounds-left));
    transition: 1s;
}

.page-container {
    display: flex;
    /* grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    min-height: 100vh; */
    overflow: hidden;
}

/* for accessibility */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: auto;
    width: 90%;
    max-width: 120ch;
}

.field-row {
    display: inline-block;

    /* margin: 1rem auto; */
    width: 100%;
}

.field-row-group {
    /* display: grid;
    justify-content: center;
    grid-auto-flow: column; */

    display: flex;
    flex-wrap: wrap;

    gap: 0.5rem;
}

.input-range {
    /* display: grid;
    place-content: center; */
    display: flex;
    justify-content: center;
    grid-auto-flow: column;

    gap: 0.5rem;

}

.form-fields {
    --min: 20ch;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.form-fields>* {
    flex: 1 1 var(--min);
}

.form-field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    /* margin: 1.25rem 0rem; */
    margin: 1rem auto;
    width: 90%;
}


/* .form-field-group>* :not([type="radio"], [type="checkbox"]) {
    width: 100%;
} */

.form-field-buttons>* {
    /* display: flex;
    flex-wrap: wrap; */
    /* flex: 1 1 2ch; */
    /* margin: 0rem 0.5rem;
    width: max-content; */
}

.form-field-group>* {
    margin: 0.25rem 0rem;
}

.center-group {
    /* display: grid;
    place-content: center; */
    display: grid;
    justify-content: center;
    grid-auto-flow: column;

    gap: 0.5rem;
}

/*
.content-grid {
    display: grid;
    grid-column: content;
    grid-gap: 0.5rem;
} */

/* .header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
} */

/* @media (min-width: 36em) {
    .content-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 56em) {
    .content-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */