@import url("reset.css");

@import url("util.css");
@import url("elements.css");

@import url("button.css");
@import url("input.css");

:root.light {
    /* --bg-color: #141618;
    --bg-color-brighter: #191b1d;
    --bg-color-accent: #ac5730;
    --bg-color-contrast: #efefef;
    --text-color: #f8e6e1;
    --text-color-contrast: #212729; */
}

:root {
    --bg-color: #141618;
    --bg-color-brighter: #191b1d;
    --bg-color-accent: #ac5730;
    --bg-color-contrast: #efefef;

    --border-color: #6d6b79;

    --text-color: #f8e6e1;
    --text-color-contrast: #212729;
}

/* @media (prefers-reduced-motion) {
    iframe {
        transition: none;
    }
} */


iframe {
    display: flex;
    flex-shrink: 0;
    /* width: 1px; */
    width: 100%;
    /* min-width: 100%; */
    /* transition: all 1s ease-in-out; */


    --slide-time: 0.5s;
    --transform-bounds-left: -100%;
    --transform-bounds-right: 100%;
}

.nav-wrapper {
    background-color: var(--bg-color-brighter);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: auto;
    width: 90%;
    max-width: 120ch;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.slide-in-left {
    animation: slide-in-left var(--slide-time) ease-in-out forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(var(--transform-bounds-left));
        position: inherit;
    }

    to {
        transform: translateX(0);
    }
}

.slide-out-left {
    animation: slide-out-left var(--slide-time) ease-in-out forwards;
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
        position: inherit;
    }

    to {
        transform: translateX(var(--transform-bounds-left));
    }
}

.slide-in-right {
    animation: slide-in-right var(--slide-time) ease-in-out forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(var(--transform-bounds-right));
        position: inherit;
    }

    to {
        transform: translateX(0);
    }
}

.slide-out-right {
    animation: slide-out-right var(--slide-time) ease-in-out forwards;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        position: inherit;
    }

    to {
        transform: translateX(var(--transform-bounds-right));
    }
}

.go-left {
    transform: translate(var(--transform-bounds-left));
    transition: 1s;
}

.page-container {
    display: flex;
    /* grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    min-height: 100vh; */
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: auto;
    width: 90%;
    max-width: 160ch;
}

.container-waiver {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: auto;
    width: 90%;
    max-width: 160ch;
}

.field-row {
    display: inline-block;

    /* margin: 1rem auto; */
    width: 100%;
}

.field-row-group {
    /* display: grid;
    justify-content: center;
    grid-auto-flow: column; */

    display: flex;
    flex-wrap: wrap;

    gap: 0.5rem;
}

.input-range {
    /* display: grid;
    place-content: center; */
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
    justify-content: center;
    grid-auto-flow: column;

    gap: 0.5rem;
}

.form-fields {
    --min: 20ch;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-fields>* {
    flex: 1 1 var(--min);
}

.fieldset-group {
    background-color: var(--bg-color-brighter);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    /* margin: 1.25rem 0rem; */
    /* margin: 1rem auto;
    width: 90%; */

    padding: 0.5rem 0.5rem;

    margin: 1rem auto;
    /* width: 30%; */

    /* debug */
    /* border: 1px solid var(--bg-color-accent); */
}

.center-group {
    /* display: grid;
    place-content: center; */
    display: grid;
    justify-content: center;
    grid-auto-flow: column;

    gap: 0.5rem;
}

.center {
    display: grid;
    place-content: center;
}